.cell-module {
  background-color: #ffffff;
  height: 2rem;
  width: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  cursor: pointer;
  &:hover {
    .round-container {
      box-shadow: .5px .5px 1px 1px var(--self-color);
      opacity: .6;
      .nut {
        background-color: var(--self-color);
        opacity: .6;
      }
    }
  }
  .round-container {
    width: 100%;
    border-radius: 100%;
    // border: 1px solid var(--color);
    box-shadow: .5px .5px 1px 1px var(--color);
    width: calc(100% - 6px);
    height: calc(100% - 6px);

    display: flex;
    align-items: center;
    justify-content: center;
    .nut {
      background-color: var(--color);
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 100%;
    }
  }
}

:host {
  --color: #ffffff;
  --self-color: #ffffff;
}
