.home-module {
  min-height: calc(100vh - 112px);
  width: 100%;

  display: flex;
  flex-flow: column;
  padding: 20px 0;

  .menu-bar {
    margin-bottom: 20px;
    .btn {
      margin-right: 10px;
    }
  }

  .interact-container {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    .side-setting {
      width: 100%;
      max-width: 280px;
      height: 400px;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 20px;
  
      box-shadow: 0 1px 1px #04040480;
      margin-right: 20px;
      border: .5px solid #04040440;
      .form-container {
        width: 100%;
        margin: 0 auto;
      }
      .title {
        font-size: 22px;
        margin-bottom: 30px;
      }
      .form-group {
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100%;
      }
      .size-selections {
        margin-left: auto;
        .btn-dark {
          color: white;
        }
      }
    }
  
    .gaming-zone {
      max-width: 400px;
      width: 100%;
      height: 400px;
      margin-left: auto;
      .grid-board {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        padding: 10px;
        grid-template-rows: repeat(var(--rows), 1fr);
        // grid-auto-rows: minmax(min-content, max-content);
        grid-auto-flow: column;
  
        max-width: 400px;
        max-height: 400px;
        width: 100%;
        height: 100%;
        background-color: #5c5c5c90;
        .cell {
          background-color: #ffffff;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-module {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .home-module {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 768px) {
  .home-module {
    .interact-container {
      .side-setting {
        position: absolute;
        max-width: unset;
        background: white;
      }
    }
  }
}

@media only screen and (max-width: 738px) {
  .home-module .interact-container {
    justify-content: center;
    .gaming-zone {
      margin-left: unset;
    }
  }
}

:host {
  --rows: 6;
}
